/*Header section START */
.header-wrapper {
  width: 100%;
  background-image: url("../assets/images/bg01.jpg");
}

section.header {
  width: 100%;
  padding: 2rem 0;
}

.header-wrapper .header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .header .wrapper .header-text {
  align-self: baseline;
}
.header-wrapper .header .wrapper .header-text h1 {
  font-weight: 300;
  font-size: 2.2rem;
}
.header-wrapper .header .wrapper .header-text button {
  border: none;
  background-color: red;
  padding: 0.7rem 2rem;
  font-size: 1.9rem;
  border-radius: 5px;
  font-weight: 400;
  margin-top: 2.5rem;
  color: white;
}
.header-wrapper .header .wrapper .header-text button:hover {
  background: none;
  color: red;
  border: 1px solid red;
  cursor: pointer;
}
.header-wrapper .header .wrapper .header-banner img {
  padding: 10px;
  background-color: white;
  margin-bottom: 35px;
}
/*Header section END */

/*First Section START */
section.first {
  width: 100%;
  padding: 45px 0 50px 0;
  height: 100%;
  background-image: url("../assets/images/bg02.jpg");
}
section.first .wrapper .banners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.first .wrapper .banner {
  width: 280px;
}
section.first .wrapper .banner img {
  padding: 10px;
  background-color: white;
  margin-bottom: 35px;
}
section.first .wrapper .banner-text {
  height: 130px;
}
section.first .wrapper .banner-text h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 18px;
}

section.first .wrapper .banner-text p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 2;
  font-size: 17px;
  font-weight: 200;
}

/*First Section END */

/*Second Section START */
section.second {
  color: black;
  width: 100%;
  padding: 45px 0 50px 0;
  height: 100%;
  background-image: url("../assets/images/bg04.png");
}
section.second .introductions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.second .introduction {
  width: 380px;
  background-color: white;
  height: 485px;
}
section.second .introduction .wrapper {
  width: 320px;
  margin: 0 auto;
}
section.second .introduction h1 {
  padding: 30px 0 18px 0;

  font-size: 400;
  font-size: 2rem;
  font-weight: 300;
}
section.second .introduction h2 {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0px 0 40px 0;

  color: rgba(0, 0, 0, 0.3);
}
section.second .introduction.third h2 {
  padding-bottom: 24px;
}

section.second .introduction.first img {
  width: 320px;
  height: 130px;
  margin-bottom: 40px;
}
section.second .introduction.first p {
  font-size: 1.1rem;
  line-height: 1.5;
}
section.second .introduction.second ul li {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.785rem 0;
}
section.second .introduction.second ul li p {
  margin-left: 2.5rem;
  font-weight: 300;
}
/* check mark */
#tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#tick-mark::before {
  position: absolute;
  left: 1px;
  top: 28%;
  height: 50%;
  width: 7px;
  background-color: red;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 6px;
  height: 7px;
  width: 22px;
  background-color: red;
  content: "";
  transform: translateX(12px) rotate(-45deg);
  transform-origin: left bottom;
}

/*Second Section END */
/*Third Section START */
section.second .introduction.third .wrapper ul {
}

section.second .introduction.third .wrapper ul li {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
section.second .introduction.third .wrapper ul li .text {
  margin-left: 1.5rem;
}
section.second .introduction.third .wrapper ul li .text p {
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 300;
}

/*Third Sectio END */

/* Footer section START*/
footer {
  width: 100%;
  background-image: url("../assets/images/bg03.jpg");
}

.footer {
  display: flex;

  padding: 45px 0 50px 0;
}
.footer .important {
  display: flex;
}
.footer .important .footer-text {
  width: 180px;
  margin-top: auto;
  margin-right: 1rem;
}

.footer .important .footer-text h1 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 8px;
  font-size: 1.1rem;
}
.footer .important .footer-text .links {
  display: flex;
  flex-direction: column;
}

a {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}

.footer .footer-text-blurb h1 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.footer .footer-text-blurb .links {
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.4);
}

/* Footer section END*/

/* RESPONSIVE */

.home.active {
  display: flex;
}

.home.active .nav {
  display: flex;
  flex-direction: column;

  background-image: url("../assets/images/bg04.jpg");
  background-repeat: repeat;
}

.home .nav {
  display: none;
}

.home .nav li {
  display: flex;
  align-items: center;
  padding: 1.3rem 0;
  width: 225px;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.home .nav li.first {
  padding-top: 2.6rem;
}
.home .nav li a {
  color: white;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 1300px) {
  .home.active .nav {
    display: none;
  }

  .home.active {
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1260px) {
  section.first .wrapper .banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  section.first .wrapper .banners .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  section.first .wrapper .banners .banner img {
    width: 42vw;
  }
  section.second .introductions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  section.second .introductions .introduction.third {
    justify-self: flex-end;
  }
  .footer .footer-text-blurb {
    margin-top: 2rem;
  }
  .footer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 980px) {
  .home.active .nav {
    display: block;
  }

  .home.active {
    flex-direction: row;
  }
  .header-wrapper {
    background-image: none;
  }
  .header-wrapper .header {
    width: 100%;
    background-image: url("../assets/images/bg01.jpg");
  }

  .header-wrapper .header .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .header-wrapper .header .wrapper .header-banner img {
    width: 92vw;
  }
  .header-wrapper .header .wrapper .header-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .header-wrapper .header .wrapper .header-text h1 {
    text-align: center;
    font-size: 1.85rem;
    width: 100%;
  }

  .header-wrapper .header .wrapper .header-text button {
    padding: 0.9rem 4rem;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 92vw;
  }
  section.first .wrapper .banner img {
    width: 45vw;
  }
  section.first .wrapper .banner {
    width: auto;
  }
}

@media only screen and (max-width: 870px) {
  section.second .introductions {
    display: flex;
    flex-direction: column;
  }

  .header-wrapper .header .wrapper .header-text h1 {
    font-size: 1.58rem;
  }
}

@media only screen and (max-width: 736px) {
  section.first .wrapper .banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section.first .wrapper .banners .banner img {
    width: 90vw;
  }

  .header-wrapper .header .wrapper .header-text h1 {
    font-size: 1.4rem;
  }
}
