<div class="home" [ngClass]="{ active: hamburgerBtn }">
  <ul class="nav">
    <li class="first"><a href="/">Homepage</a></li>

    <li><a href="/">Three Column</a></li>

    <li><a href="/">Two Column #1</a></li>

    <li><a href="/">Two Column #2</a></li>

    <li><a href="/">One Column</a></li>
  </ul>
  <div class="home-wrapper">
    <div class="header-wrapper">
      <app-navbar (hamBtnStateUpdate)="hambtnState($event)"></app-navbar>
      <section class="header">
        <div class="wrapper container">
          <div class="header-text">
            <h1>
              We do something really useful, important, and unique. Learn all
              about it here ...
            </h1>
            <button>Go on, click me!</button>
          </div>
          <div class="header-banner">
            <img src="../assets/images/banner.jpg" alt="" />
          </div>
        </div>
      </section>
    </div>
    <main>
      <section class="first">
        <div class="wrapper container">
          <div class="banners">
            <div class="banner">
              <img src="../assets/images/pic01.jpg" alt="" />
              <div class="banner-text">
                <h1>Welcome to Halcyonic</h1>
                <p>
                  This is <span style="color: white">Halcyonic</span>, a free
                  site template by
                  <a href="" style="color: white; text-decoration: underline"
                    >A.I</a
                  >
                  for
                  <a href="" style="color: white; text-decoration: underline"
                    >HTML5 UP</a
                  >. It's responsive, built on HTML5 + CSS3, and includes 5
                  unique page layouts.
                </p>
              </div>
            </div>
            <div class="banner">
              <img src="../assets/images/pic02.jpg" alt="" />
              <div class="banner-text">
                <h1>Responsive You Say?</h1>
                <p>
                  Yes! Halcyonic is built to be fully responsive so it looks
                  great at every screen size, from desktops to tablets to mobile
                  phones.
                </p>
              </div>
            </div>
            <div class="banner">
              <img src="../assets/images/pic03.jpg" alt="" />
              <div class="banner-text">
                <h1>License Info</h1>
                <p>
                  Halcyonic is licensed under the
                  <a href="" style="color: white; text-decoration: underline"
                    >CCA</a
                  >

                  license, so use it for personal/commercial use as much as you
                  like(just keep our credits intact).
                </p>
              </div>
            </div>
            <div class="banner">
              <img src="../assets/images/pic04.jpg" alt="" />
              <div class="banner-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                  nemo qui quidem eaque sit dolorem totam molestias nam!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="second">
        <div class="container">
          <div class="introductions">
            <div class="introduction first">
              <div class="wrapper">
                <h1>Who We Are</h1>
                <h2>A subheading about who we are</h2>
                <img src="../assets/images/pic05.jpg" alt="" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Minima neque sapiente fugit dolore quo mollitia, id repellat
                  magnam maiores aut expedita deleniti aspernatur sequi
                  temporibus dicta ex omnis quam consequuntur.
                </p>
              </div>
            </div>

            <div class="introduction second">
              <div class="wrapper">
                <h1>What We Do</h1>
                <h2>A subheading what we do</h2>
                <ul>
                  <li>
                    <div id="tick-mark"></div>
                    <p>Sed mattis quis rutrum accum</p>
                  </li>
                  <li>
                    <div id="tick-mark"></div>
                    <p>Eu varius nibh suspendisse lorem</p>
                  </li>
                  <li>
                    <div id="tick-mark"></div>
                    <p>Magna eget odio amet mollis justo</p>
                  </li>
                  <li>
                    <div id="tick-mark"></div>
                    <p>Facilisis quis sagittis mauris</p>
                  </li>
                  <li>
                    <div id="tick-mark"></div>
                    <p>Amet tellus gravida lorem ipsum</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="introduction third">
              <div class="wrapper">
                <h1>What People Are Saying</h1>
                <h2>A subheading about our clients</h2>
                <ul>
                  <li>
                    <img src="../assets/images/pic06.jpg" alt="" />
                    <div class="text">
                      <p>"Neque nisidapibus mattis"</p>
                      <span>Jhon Doe, CEO of UntitledCorp</span>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/pic07.jpg" alt="" />
                    <div class="text">
                      <p>"Neque nisidapibus mattis"</p>
                      <span>Jhon Doe, President of FakeBiz</span>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/pic08.jpg" alt="" />
                    <div class="text">
                      <p>"Neque nisidapibus mattis"</p>
                      <span>Jhon Doe, CFO of UntitledBiz</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer container">
          <div class="important">
            <div class="footer-text">
              <h1>Links to Important Stuff</h1>
              <div class="links">
                <a href="/">Lorem ipsum dolor sit.</a>
                <a href="/">Lorem, ipsum dolor.</a>
                <a href="/">Lorem, ipsum.</a>
                <a href="/">Lorem ipsum dolor sit.</a>
              </div>
            </div>

            <div class="footer-text">
              <div class="links">
                <a href="/">Lorem ipsum dolor sit.</a>
                <a href="/">Lorem, ipsum dolor.</a>
                <a href="/">Lorem, ipsum.</a>
                <a href="/">Lorem ipsum dolor sit.</a>
              </div>
            </div>

            <div class="footer-text">
              <div class="links">
                <a href="/">Lorem ipsum dolor sit.</a>
                <a href="/">Lorem, ipsum dolor.</a>
                <a href="/">Lorem, ipsum.</a>
                <a href="/">Lorem ipsum dolor sit.</a>
              </div>
            </div>

            <div class="footer-text">
              <div class="links">
                <a href="/">Lorem ipsum dolor sit.</a>
                <a href="/">Lorem, ipsum dolor.</a>
                <a href="/">Lorem, ipsum.</a>
                <a href="/">Lorem ipsum dolor sit.</a>
              </div>
            </div>
          </div>
          <div class="footer-text-blurb">
            <h1>An Information Text-Blurb</h1>
            <div class="links">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem recusandae magni et vel molestiae eos, ex ipsa
              blanditiis minima iure laborum, obcaecati voluptas saepe similique
              delectus id. Voluptas ut, sunt ad et ea hic tempora dolor illum
              laborum. Reiciendis odio temporibus laudantium iure dolorum
              voluptatem iste suscipit!
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>
