/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

body {
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
